.container {
  overflow-x: auto;
  
  .loading, .not_authorized, .signin, .games, .home, .teams {
    display: none;
  }

  &.loading .loading { display: block; }
  &.not_authorized .not_authorized { display: block; }
  &.signin .signin { display: block; }
  &.games .games { display: block; }
  &.home .home { display: block; }
  &.teams .teams { display: block; }
}


table#schedule {
  min-width: 100%;
}

.table-row(@color) {
  background: @color;
  tr:nth-child(odd) & {
    background: desaturate(@color, 20%) !important;
  }
  tr:hover & {
    background: desaturate(@color, 30%) !important;
  }
}

.playing {
  // 120 248 127
  .table-row(#78f87f);
}
.not_playing {
  // 255 127 124
  .table-row(#ff7f7c);
}
.unconfirmed {
  // 250 250 102
  .table-row(#fafa66);
}



.empty-player {
  font-weight: normal;
  font-style: italic;
}

.player-row {
  input {
    display: block;
  }
  th {
    max-width: 300px;
    position: relative;
  }
  .edit-btns {
    text-align: right;
  }
}