table#schedule td.playing {
  background: green;
}
table#schedule td.not_playing {
  background: red;
}
table#schedule td.unconfirmed {
  background: yellow;
}

.empty_player {
  font-weight: normal;
  font-style: italic;
}