/* /// */
/* Position */
/* /// */
header{
  height: 4.5em;
  position: relative;
  padding-top: .75em;
  @include box-sizing(border-box);
  @include background(
    linear-gradient(top, $skyblue, $skyblued 100%),
    url('images/textures/bg_noise_80x80.png') repeat
  );
  &:before{
    content:'';
    display: block;
    background: white;
    z-index: 2;
    @include position(absolute, auto, 0, 0, 0, auto, 1px );
  }
  &:after{
    content:'';
    display: block;
    @include position(absolute, auto, 0, 0, 0, auto, 15% );
    z-index: 1;
    @include background(
      radial-gradient(50% 150%, rgba(black, .2), rgba(black, .1) 30%, rgba(black, 0) 70%)
    );
  }
}
article{
  width: 100%;
  @include clearfix;
}
/* /// */
/* Styling */
/* /// */
header{
  text-align: center;
  h1{
    @include huge(no);
    @include emtype;
    font-weight: bolder;
    letter-spacing: -.05em;
    display: inline-block;
    text-transform: uppercase;
    color: darken($orange, 5%);
    @include text-shadow(
      rgba(white, 1) 0 -1px 0,
      rgba(black, .3) 0 1px 0,
      rgba(darken($orange, 30%), .1) 0 0 10px
    );
  }
}