.divider{
  height: 3em;
  width: 100%;
  margin-bottom: 1.5em;
  position: relative;
  overflow:hidden;
  text-align: center;
  &:after{
    content: '';
    display: block;
    @include position(absolute, -4.5em, auto, auto, (100% - 100%) * -.5, 100%, 6em );
    z-index: 1;
    @include background(
      radial-gradient(50% 50%, rgba(black, .10), rgba(black, .03) 50%, rgba(black, 0) 70%),
      radial-gradient(50% 50%, rgba(white, .5), rgba(white, .2) 60%, rgba(white, 0) 80%)
    );
  }
  &:before{
    content: '';
    display: block;
    @include position(absolute, 0, auto, auto, (150% - 100%) * -.5, 150%, 1px );
    z-index: 2;
    @include background(
      radial-gradient(50% 50%, rgba(white, 1), rgba(white, .8) 50%, rgba(white, 0) 70%)
    );
  }/* end pseudoclasses */
  /* If there is a view_more -- see games.scss */
  .view_more{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    line-height: 3em;
    @include inset(#ccc);
    position: relative;
    z-index: 3;
  }
}

.dialog_box{
  width: 400px;
  position: relative;
  @include maskbg;
  @include box-shadow(rgba(black, .3) 0 1px 3px 0);
  @include border-radius(5px);
}

.team_dialog{
  .team_logo{
    @include maskbg($paper);
    @include border-radius(3px);
    @include box-shadow(
      rgba(black, .3) 0 1px 3px 0,
      rgba(darken($skyblue, 5%), 1) 0 0px 0px 3px inset
    );
    @include position(absolute, -1.5em, auto, auto, 1.5em);
    width: 100px;
    height: 100px;
  }
  h2{
    display: inline-block;
    /* 12px 0 12px 144px  */
    margin: $font-size * .75px 0 $font-size * .75px $font-size * 9px;
    @include h1;
  }
  .close{
    @include position(absolute, 1.5em, 1.5em, auto, auto, 1.5em, 1.5em);
    @include border-radius(1.5em * .5);
    text-align: center;
    border: 1px solid #ccc;
  }
  .roster, .login_wrapper{
    clear: both;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .roster{padding: 1.5em 1.5em 0;}
  .login_wrapper{
    padding: .75em;
    text-align: center;
  }
  .long_desc{
    @include small;
    padding: 1.5em 1.5em;
  }
  .short_desc{
    margin: 0 0 $font-size * .75px $font-size * 9px;
    padding-right: $font-size * .75px;
    @include small;
  }  
  .subtext{
    padding: 1.5em;
    color: #666;
    @include small;
  } 
}