/* Transition */
#overlays{
  @include transition( all 500ms cubic-bezier(0.51, 0, 0.6, 1) 0ms);
  .overlay{@include transition( all 500ms ease-in 300ms);}
  &:not(.show) {
    z-index: -1;
    @include opacity(0);
    @include transform( scale(2) );
    .overlay{@include opacity(0);}
  }
  &.show{    
    z-index: 10;
    .overlay{@include opacity(1);}
  }
}
/* Layout */
#overlays{
  @include position(fixed, 0, 0, 0, 0);
  background: rgba($skyblue, .95);
  overflow: auto;
  .overlay{
    width: 400px;
    background: white;
    @include border-radius(5px);
    @include box-shadow(rgba(black, .1) 0 1px 3px 0);
    @include border(white);
    margin: 6em auto 3em;
    position: relative;
    @include clearfix;
  }
}

.team_status{
  .team_logo{
    @include maskbg(#f9f9f9);
    @include border-radius(3px);
    @include box-shadow(
      rgba(black, .3) 0 1px 3px 0,
      rgba(darken($skyblue, 5%), 1) 0 0px 0px 3px inset
    );
    @include position(absolute, -1.5em, auto, auto, 1.5em);
    width: 100px;
    height: 100px;
  }
  h2{
    display: inline-block;
    /* 12px 0 12px 144px  */
    margin: $font-size * .75px 0 $font-size * .75px $font-size * 9px;
    @include h1;
  }
  .close{
    @include position(absolute, 1.5em, 1.5em, auto, auto, 1.5em, 1.5em);
    @include border-radius(1.5em * .5);
    text-align: center;
    border: 1px solid #ccc;
  }
  .roster{
    clear: both;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.5em 1.5em 3em;
  }
  p{
    @include small;
    padding: 1.5em 1.5em;
    &.subtext{
      color: #999;  
    }
  }
}