@mixin stdform_bg{
  background: white;
  @include box-shadow(rgba(0, 0, 0, .3) 0px 2px 5px 0px inset);
  @include box-sizing(border-box);
  @include background-size(auto);
  @include transition(border-color 1s ease);
  @include border-radius(5px);
  margin: .25em 0;
  line-height: 1em;
  /* taken from onset */
  height: 2.5em;//hack for strange lineheight rendering in chrome and FF
  padding: .25em .5em;
  @include border(#fff, 1px, impress);
  outline: none;
  position: relative;
  &:focus{
    border: 1px solid rgba(102, 204, 255, .9);
    @include box-shadow(rgba(102, 204, 255, .3) 0 0px 3px 1px, rgba(0, 0, 0, .3) 0px 1px 3px 0px inset );
  }
  &:required{
    &:valid{
      @include background(
        url('icon_valid_16x16.png') no-repeat 98% center,
        linear-gradient(top, rgba(249, 249, 249, 1), rgba(255, 255, 255, 1) 50%)
      );          
    }
    &::-webkit-validation-bubble-message {
        color: #333;
        background: #ff6;
        border:0px solid transparent;
        @include border-radius(3px);
        @include box-shadow(rgba(0, 0, 0, .3) 0px 2px 5px 0px);
    }
    
    &::-webkit-validation-bubble-arrow {
        background: #ff6;
        border:0px solid transparent;
    }
    &.has_been_focussed{
      &:valid{
        @include background(
          url('icon_valid_16x16.png') no-repeat 98% center,
          linear-gradient(top, rgba(249, 249, 249, 1), rgba(255, 255, 255, 1) 50%)
        );
      }
      &:invalid{
        @include background(
          url('icon_invalid_16x16.png') no-repeat 98% center,
          linear-gradient(top, rgba(249, 249, 249, 1), rgba(255, 255, 255, 1) 50%)
        );
      }
    }
  }
}
@mixin stdform_txt{
  @include stdfont;
  @include emtype;
    &:-moz-placeholder {
      color: #ccc;
      font-style: italic;
    } 
    &::-webkit-input-placeholder{
      color: #ccc;
      font-style: italic;
    }
}
@mixin stdform{
  @include stdform_bg;
  @include stdform_txt;
}