@mixin too_long($color){
  position: relative;
  &:before{
    content: "";
    position: absolute;
    right: 0;
    width: 10px;
    height: 100%;
    @include box-shadow($color -8px 0px 6px 0px inset);
  }
}