@mixin letterpress($color){
  @if lightness($color) > 50% {
    @include text-shadow(
      rgba(lighten($color, 90%), .7) 0 1px 0,
      rgba(darken($color, 30%), .3) 0 -1px 0
    );    
  } @else {
    @include text-shadow(    
      rgba(darken($color, 30%), .5) 0 1px 0  
    );
  }
}
@mixin border($color, $width: 1px, $emboss: 'emboss'){
  border-right: 1px solid darken($color, 10%);
  border-left: 1px solid darken($color, 10%);
  @if $emboss == 'emboss'{
    border-top: 1px solid lighten($color, 15%);
    border-bottom: 1px solid darken($color, 30%);    
  } @else {
    border-bottom: 1px solid lighten($color, 30%);
    border-top: 1px solid darken($color, 30%);
  }
}
@mixin reveal{
  border-top: 1px solid #565b62;
  @include box-shadow(rgba(0,0,0,.3) 0 2px 5px 0 inset);
  @include background(
    url('images/textures/bg_hatch_40x40.png'),
    linear-gradient(top, rgba(0, 0, 0, .9), rgba(0, 0, 0, .6) 5%, rgba(0, 0, 0, .3) 40% , rgba(101, 104, 120, .5) 90%),
    #3f464b
  );
  @include text-shadow(rgba(0,0,0, .7) 0 1px 3px);
  color: #fff;
  clear: both;
}