$skyblue:rgba(228, 247, 250, 1);

$lblue: #0099ff;
$mblue: #0066cc;
$blend: #666;
$paper: #f9f9f9;

$bronze: rgba(204,153,0, .7);
$orange: #fd8661;
$red: #ff6600;

$fbhex: rgba(35,103,190, 1);
$twhex: rgba(45, 173, 216, 1);
$gohex: rgba(170,170,170, 1);
$onsetcolor: #0099ff;