$skyblue:rgba(228, 247, 250, 1);
$skyblued:darken($skyblue, 5%);

$lblue: #0197ce;
$mblue: #0066cc;
$blend: #656878;
$paper: #f9f9f9;

$bronze: rgba(204,153,0, .7);
$orange: #fd8661;

$fbhex: rgba(35,103,190, 1);
$twhex: rgba(45, 173, 216, 1);
$gohex: rgba(170,170,170, 1);
$onsetcolor: rgba(255,204,102, 1);