textarea{
  @include stdform;
  overflow: auto;
  display: block;
  text-align: left;
    &.new{
      color: #AA5959;
    }
}
input{
  &:not([type=checkbox]):not([type=radio]){
    @include stdform;
    line-height: 1em;
  }
}
label{
  color: #333;
  font-weight: bold;
  display: inline-block;
}
form{
  text-align: left;
  @include clearfix;
  label {
    float: left;
  }
  /* Exceptions */
  input[type=checkbox] + label, input[type=radio] + label {
    display: inline;
    line-height: 1em;
    color: #333;
    font-weight: normal;
  }
  textarea, input{
    text-align: left;
    float: left;
    
  }
  input{      
    &[type=checkbox], &[type=radio]{
      width: auto;
      margin-right: 10px;
      line-height: 1.5em;
    }
    &[type=radio]{-webkit-appearance: radio;}
  }
  p{
    margin-bottom: 10px;
  }
  button{
    float: left;
  }
  &.disabled {
    > * {
      opacity: .5;
    }
    button{
      opacity: 1;
    }
  }    
}