<template name="auth">
  <div class="signin {{#if_with team_from_season_ticket}} email_ticket {{/if_with}}">
    <h2 class="logotype">LEAGUE</h2>
    <h1 class="tagline">Organize your grown up sports</h1>
    {{#if logged_in }}
      <button class="logout default btn inverse">Logout</button>
    {{else}}
      {{prepare_team_from_season_ticket}}
      {{#if_with team_from_season_ticket}}
        <div class="season_ticket">        
          <div class="team_logo">
            {{{logo this size="small" without_links=true}}}
          </div>
          <h2>Join team</h2>
          <p class="get_started">Signin with Facebook to join <strong>The Lions{{team_name}}</strong></p>
          <div class="login_wrapper">
            <button class="login icon16 facebook btn inverse" title="Login with Facebook">Login</button>
          </div>
          <p class="pitch">League is the game organizer for casual sports teams. Focus on playing, not logistics.</p>
        </div>
      {{/if_with}}
      <button class="login icon16 facebook btn inverse" title="Login with Facebook">Login</button>
    {{/if}}
  </div>
</template>

<template name="logged_in_user">
  {{#if current_user}}{{#with current_user}}
    <div class="avatar dropmenu">
      <img src="{{ facebook_profile_url }}">
      <a class="icon16 dropdown inset"></a>
      <ul>
        <li><a class="inset logout">Logout</a></li>
      </ul>
    </div>
  {{/with}}{{/if}}
</template>

<template name="not_found">
  <div class="not_found">
    <h2 class="logotype">LEAGUE</h2>
    <div class="error">Ain't nothing here!</div>
    <a href="/" class="icon16 home inset"><strong>Return home</strong></a>
  </div>
</template>