<template name="auth">
  <div class="signin_page {{#if_with team_from_season_ticket}} email_ticket {{/if_with}}">
    <h2 class="logotype">LEAGUE</h2>
    <h1 class="tagline">Organize your grown up sports</h1>
    {{#if logged_in }}
      <button class="logout default btn inverse">Logout</button>
    {{else}}
      {{prepare_team_from_season_ticket}}
      {{#if_with team_from_season_ticket}}
        <div class="team_dialog">        
          <div class="team_logo">
            {{{logo this size="small" without_links=true}}}
          </div>
          <h2>Join team</h2>
          <p class="short_desc">Signin with Facebook to join <strong>{{attributes.name}}</strong></p>
          <div class="login_wrapper">
            <button class="login icon16 facebook btn inverse" title="Login with Facebook">Login</button>
          </div>
          <p class="subtext">League is the game organizer for casual sports teams. Focus on playing, not logistics.</p>
        </div>
      {{/if_with}}
      
      {{> login_fields }}
      
    {{/if}}
  </div>
</template>

<template name="login_fields">
  <button class="login_facebook icon16 facebook btn inverse" title="Login with Facebook">Login with Facebook</button>
  
  <form name="login_password">
    <input name="email" type="email" placeholder="Your email address"/>
    <input name="password" type="password" placeholder="Your password"/>
    
    {{#if signingUp}}
      <input name="password_confirm" type="password" placeholder="Confirm your password"/>
    {{/if}}
    
    <button class="login_password btn inverse" title="Login with email" type="submit">{{#if signingUp}}Register{{else}}Login{{/if}}</button>
    
    <p>{{loginStatus}}</p>
    <a class="register">{{#if signingUp}}Login{{else}}Register{{/if}}</a>
  </form>
</template>

<template name="logged_in_user">
  {{#if_with currentPlayer}}
    <div class="avatar dropmenu">
      <img src="{{ facebook_profile_url }}">
      <a class="icon16 dropdown inset"></a>
      <ul>
        <li><a class="inset logout">Logout</a></li>
      </ul>
    </div>
  {{/if_with}}
</template>

<template name="not_found">
  <div class="not_found_page">
    <h2 class="logotype">LEAGUE</h2>
    <div class="error">Ain't nothing here!</div>
    <a href="/" class="icon16 home inset"><strong>Return home</strong></a>
  </div>
</template>