<template name="games">
  <div class="games_page">
    {{#if team }}{{#with team }}
      {{make_team_updates}}
      <header>
        <a href="/leagues" class="back btn"><span class="arrow"></span>Leagues</a>
        <h1>Season Games</h1>
        {{> logged_in_user }}
      </header>
      
      <article>
        {{#if next_game}}
          {{> next_game }}
          {{> upcoming_games }}
        {{else}}
          {{> no_games}}
        {{/if}}
      </article>
      
    {{/with}}{{else}}
      {{> not_found}}
    {{/if}}
  </div>
</template>

<template name="no_games">
  <div class="upcoming_games">
    <div class="season">
      <h2>Make 1st game</h2>
      <p class="subtext">Click to change date, time, and location</p>
      {{#with new_game}}
        <form class="game_builder">
          <div class="chrono">
            <div class="date editable" data-field="date">
              <label for="date">Pick Date</label>
              <span>{{short_formatted_date}}</span>
              {{#if_editing "date"}}
                {{> date_chooser}}
              {{/if_editing}}
            </div>
            <div class="time editable" data-field="time">
              <label for="time">Time</label>
              <div class="board">
                <span class="numeral">{{hours_first}}</span>
                <span class="numeral">{{hours_second}}</span>:
                <span class="numeral">{{minutes_first}}</span>
                <span class="numeral">{{minutes_second}}</span>
                <strong>PM</strong>
                {{#if_editing "time"}}
                  {{> time_chooser}}
                {{/if_editing}}
              </div>
            </div>
            <div class="location">
              <label for="location">Location</label>
              <input name="location" placeholder="Where is the game?"/>  
            </div>
          </div>
          <button type="submit" class="btn default make">Make</button>    
          
        </form>
      {{/with}}
    </div>
  </div>
</template>

<template name="next_game">
  <form class="next_game">
    <aside class="next">Next Game</aside>
    {{{ logo this size="large" without_link=true }}}
    <p>{{ name }}</p>
    {{#with next_game }}
      <h2 class="game_title editable" data-field="location">
        {{ location_or_game_number }}
        {{#if_editing "location"}}
          <div class="edit_location">
            <label for="location">Location:</label>
            <input name="location" value="{{attributes.location}}" placeholder="Where is the game?"/>
          </div>
        {{/if_editing}}
      </h2>
      
      <div class="game_date editable" data-field="date">
        <strong>{{ qualified_day }}</strong>
        &nbsp;&nbsp;{{ time }}&nbsp;&nbsp;
        {{ formatted_date }}
        {{#if_editing "date"}}
          {{> date_time_chooser}}
        {{/if_editing}}
      </div>
      
      <ul class="player_list state_aware">
        {{#each player_availabilities}}
          {{> player_availability }}
        {{/each}}
      </ul>
    {{/with}}
    <em>Click players, dates and locations to edit</em>
  </form>
</template>

<template name="upcoming_games">
  <div class="divider">
    <a class="view_more"><small>View upcoming games &darr;</small></a>
  </div>
  <div class="upcoming_games">
    <div class="season">
      <h2>Your Season</h2>
      <ul class="games">
        {{#each upcoming_games }}
          {{> game }}
        {{/each}}
        <a class="create_game btn default">Add games</a>
      </ul>
    </div>
  </div>
</template>

<template name="game">
  <li>
    <form>
      <div class="date editable" data-field="date">
        <span class="month">{{month}}</span>
        <span class="day">{{date}}</span>
        <span class="time">{{time}}</span>
        {{#if_editing "date"}}
          {{> date_time_chooser}}
        {{/if_editing}}
      </div>
      
      <div class="meta">
        <div class="confirmation {{availability_class current_user_availability}}">
          <form>
            <div class="state_question">
              <input type="radio" id="play" name="state" value="play">
              <label for="play" class="play">Play</label>
              <br>
              <input type="radio" id="state" name="state" value="bench">
              <label for="bench" class="bench">Bench</label>
              <br>
              <em class="state">You're unconfirmed</em>
            </div>
          </form>
          <div class="state_playing">
            <figure></figure>
            <br>
            <a class="inset go_unconfirmed">Change &raquo;</a>
          </div>
          <div class="state_benched">
            <figure>Bench</figure>
            <br>
            <a class="inset go_unconfirmed">Play this game &raquo;</a>
          </div>
        </div>
        
        <h3 class="location editable" data-field="location">
          {{#if_editing "location"}}
            <div class="location">
              <label for="location">Location:</label>
              <input name="location" value="{{attributes.location}}" placeholder="Where is the game?"/>
            </div>
          {{else}}
            {{#if attributes.location}}
              {{attributes.location}}
            {{else}}
              <em>Location TBD</em>
            {{/if}}
          {{/if_editing}}
        </h3>
        
        {{#if_equals 0 team_state}}
          <p class="flag green">Your team is rarin' to play! Have fun out there.</p>
        {{else}}
          {{#if_equals 1 team_state}}
            <p class="flag yellow">Waiting on {{pluralize "player" confirmations_needed}} to confirm</p>
          {{else}}
            <p class="flag red">You need {{pluralize "outside player" player_deficit}} to field a team.</p>
          {{/if_equals}}
        {{/if_equals}}
          
        <div class="roster">
          {{#if expanded}}
            <a class="hide_roster inset">Hide roster<span class="icon12 dropup"></span></a>
            <ul class="player_list miniature state_aware">
              {{#each player_availabilities}}
                {{> player_availability }}
              {{/each}}
            </ul>
          {{else}}
            <a class="show_roster inset">View roster <span class="icon12 dropdown"></span></a>
          {{/if}}
        </div>          
      </div>
    </form>
  </li>
</template>

<template name="date_time_chooser">
  <div class="date_time_chooser">
    {{> date_chooser}}
    {{> time_chooser}}
  </div>
</template>

<template name="date_chooser">
  <div class="date_chooser" name="date">
    <label for="date" class="hide">Date &amp; time</label>
    <div id="{{date_field_id}}"></div>
    {{attach_date_picker}}
    <button class="close btn default">Close</button>
  </div>
</template>

<template name="time_chooser">
  <div class="time_selects">
    <label for="time">Time</label>
    {{#with possible_hours}}{{> select }}{{/with}}
    {{#with possible_minutes}}{{> select }}{{/with}}
    <button class="close btn default">Close</button>
  </div>
</template>



<template name="player_availability">
  <li class="player {{availability_class availability}} small_player">
    {{#with player}}
      <div class="image">
        <span class="icon16 checkmark"></span>
        <span class="icon16 close"></span>
        <span class="icon16 player"></span>
        <span class="icon16 question"></span>
        <img src="{{ facebook_profile_url }}"/>
      </div>
      <span class="name">{{attributes.name}}</span>
    {{/with}}
  </li>
</template>

