<template name="games">
  {{#if team }}{{#with team }}
    <div class="games">
      <h1>A list of games for <em>{{ name }}</em></h1>
      {{#each games }}
        {{> game }}
      {{/each}}
    </div>
  {{/with}}{{/if}}
</template>

<template name="game">
  {{#if editing}}
    <p>
      <input name="date" type="text" value="{{format_date date}}"></input>
    </p>
    <p>
      <input name="time" type="text" value="{{time}}"></input>
      -- 
      <input name="location" type="text" value="{{location}}"></input>
    </p>
    <p class="edit-btns">
      <a class="btn btn-mini btn-danger delete">Delete</a>
      <a class="btn btn-mini cancel">Cancel</a>
      <a class="btn btn-mini btn-primary save">Save</a>
    </p>
  {{else}}
    <p>{{format_date date}}</p>
    <p>{{time}} -- {{location}}</p>
    <div class="edit-btns">
      <a class="btn btn-mini">Edit</a>
    </div>
  {{/if}}
  <p>{{player_count}}</p>
</template>