<template name="home">
  <div class="home_page">
    <a class="login_facebook icon16 facebook inset" title="Login with Facebook">Login</a>
    <h2 class="title">{{{letter "LEAGUE"}}}</h2>
    <h1 class="tag">organize your team sports</h1>
    <div rel="YZGD76QR" class="lrdiscoverwidget" data-logo="off" data-background="off" data-share-url="getleague.com" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
    <form class="team_builder">
      <input name="name" placeholder="Your team name" required/>
      <button class="btn default" disabled="true" type="submit">Create</button>
    </form>
  </div>
</template>