<template name="logo_tester">
  <ul class="logo_tester">
    {{#each teams}}
      <li style="float:left">{{{logo this size="large" without_link=true}}}</li>
    {{/each}}
  </ul>
</template>

<template name="logo">
  {{#if render_options.without_link}}
    <div class="logo">{{>logo_internals}}</div>
  {{else}}
    <a href="{{ games_path }}" class="logo {{size}}" title="{{team.name}}" data-alert="{{ player_deficit }}" >
      {{>logo_internals}}
    </a>
  {{/if}}
</template>

<template name="logo_internals">
  <h3 style="font-family: {{font}}, cursive; color: {{primary_color}}">
    {{#each lines}}
      <p>{{fittext this key=../team.id}}</p>
    {{/each}}
  </h3>
  <figure style="background: {{primary_color}}; color: {{primary_color}}" class="{{shape}}">
    <span style="background: {{secondary_color}}; color: {{secondary_color}}"></span>
  </figure>
</template>