<template name="logo_tester">
  {{#if draw_logo_tester}}
    <ul class="logo_tester">
      {{#each teams}}
        <li style="float:left">{{{logo}}}</li>
      {{/each}}
    </ul>
  {{/if}}
</template>

<template name="logo">
  <a href="{{ games_link }}" id="logo" title="{{team.name}}" data-alert="-10">
    <h3 style="font-family: {{font}}, cursive; font-size: {{font_size}}px; color: {{primary_color}}">
      {{#each lines}}
        <span>{{this}}</span>
      {{/each}}
    </h3>
    <figure style="background: {{primary_color}}; color: {{primary_color}}" class="{{shape}}">
      <span style="background: {{secondary_color}}; color: {{secondary_color}}"></span>
    </figure>
  </a>
</template>