<template name="overlays">
  <div id="overlays" class="{{show_overlays}}">
    {{> team_status}}
  </div>
</template>

<template name="team_status">
  {{#if team}}{{#with team}}
    <div class="overlay team_status">
      <div class="team_logo">
        {{{logo this size="small" without_links=true}}}
      </div>
      <a class="icon16 close"></a>
      <h2>Team Status</h2>
      <p>Invite teammates so you can stay updated on who is <strong>playing</strong> and <strong>not-playing</strong> each game.</p>
      <div class="roster">
        <ul class="player_list horiz">
          {{#each unauthorized_players }}
            {{> player}}
          {{/each}}
        </ul>
      </div>
      <p class="subtext">Protip: simply forward your <strong>Season ticket</strong> email to them.</p>
    </div>
  {{/with}}{{/if}}
</template>