<template name="players">
  {{#if team }}{{#with team }}
    <div class="players_page">
      <header>
        <a href="/leagues" class="back btn">Leagues</a>
        <h1>Roster</h1>
        {{> logged_in_user }}
      </header>
      <article>
        <div id="lineup">
          <div class="proceed">
            <a href="{{games_path}}" class="start_season btn fwd" {{#if cant_continue}}disabled="true"{{/if}}>
              {{#if attributes.started}}
                Continue Season
              {{else}}
                Start Season
              {{/if}}
            </a>
          </div>
          <div class="team_logo">
            {{{ logo this size="large" without_link=true }}}
          </div>
          <h2>Build your team</h2>
          <div class="required_players">
            {{#with players_required_data}}
              {{> select }}
            {{/with}}
            <em>Players needed each week</em>
          </div>
          <div class="roster_wrapper">
            <ul class="player_list miniature roster">
              {{#each players }}
                {{> player}}
              {{/each}}
              {{#if alone_in_team}}
                <li class="add_cta">Don't play alone - add teammates below.</li>
              {{/if}}
            </ul>
          </div>
          {{> add_player}}
        </div>
      </article>
    </div>
  {{/with}}
  {{else}}
    {{> not_found}}
  {{/if}}
</template>

<template name="player">
  <li class="player {{in_team_class}}">
    <div class="image">
      <span class="icon16 checkmark"></span>
      <img src="{{ profile_url }}"/>
    </div>
    <span class="name">{{attributes.name}}</span>
    {{#unless is_self}}
      <a class="remove_player icon12 close inset">Remove</a>
    {{/unless}}
    <a class="invite btn {{#if attributes.messaged}} secondary {{else}} default {{/if}}">
      {{#if attributes.messaged}}
        Invite again
      {{else}}
        Invite now
      {{/if}}
    </a>
  </li>
</template>

<template name="add_player">
  <form name="add_player">
    <input name="emails" type="text" placeholder="Type some emails"></input>
    <button type="submit">Add</button>
  </form>
    

</template>