<template name="players">
  {{#if team }}{{#with team }}
    <div class="players">
      <header>
        <a href="/leagues" class="back btn">Leagues</a>
        <h1>Lineup</h1>
      </header>
      <article>
        <div class="lineup">
          <ul class="roster">
            <li class="team_logo">
              <figure title="{{attributes.name}}"></figure>
              <a class="icon16 people inset">4 players <span class="icon16 dropdown"></span></a>
            </li>
            {{#each players }}
              {{> player}}
            {{/each}}
          </ul>
          <button class="start_season btn default">Start Season</button>
        </div>
                  
        {{> add_player}}
        
      </article>
    </div>
  {{/with}}{{/if}}
</template>

<template name="player">
  <li class="player">
    <img src="{{ facebook_profile_url }}"></img>
    <span class="name">{{attributes.name}}</span>
  </li>
</template>

<template name="add_player">
  <div class="add_player">
    <div class="icon16 search">
      <input name="player[name]" placeholder="Type a players name"></input>
    </div>
    <ul class="results">
      {{#unless results}}
        Loading friends...
      {{/unless}}
      {{#each results}}
        {{> player}}
      {{/each}}
    </ul>
  </div>
</template>