<template name="players">
  {{#if team }}{{#with team }}
    <div class="players">
      <header>
        <a href="/leagues" class="back btn">Leagues</a>
        <h1>Lineup</h1>
      </header>
      <article>
        <div class="lineup">
          <ul class="roster">
            <li class="team_logo">
              <div class="image">
                {{{ team_logo }}}
              </div>
              <div class="dropmenu">
                <a href="{{ games_link this }}" class="btn icon12 people">4</a>
                <a class="icon12 dropdown btn"></a>
                <ul>
                  <li><a href="" class="inset">1</a></li>
                  <li><a href="" class="inset">2</a></li>
                  <li><a href="" class="inset">3</a></li>
                  <li><a href="" class="inset">4</a></li>
                </ul>
              </div>
            </li>
            {{#each players }}
              {{> player}}
              {{#unless is_self}}
                <a class="remove_player">Remove</a>
              {{/unless}}
            {{/each}}
          </ul>
          {{#if alone_in_team}}
            <p>Hey.. add some friends bozo...</p>
          {{else}}
            <button class="start_season btn default">
              {{#if attributes.started}}
                Continue Season
              {{else}}
                Start Season
              {{/if}}
            </button>
          {{/if}}
        </div>
                  
        {{> add_player}}
        
      </article>
    </div>
  {{/with}}{{/if}}
</template>

<template name="player">
  <li class="player {{in_team_class}}">
    <div class="image">
      <span class="icon16 twitter"></span>
      <img src="{{ facebook_profile_url }}"/>
    </div>
    <span class="name">{{attributes.name}}</span>
  </li>
</template>

<template name="add_player">
  <div class="add_player">
    <div class="icon16 search">
      <input name="player[name]" placeholder="Type a players name"></input>
    </div>
    <ul class="results">
      {{#unless results}}
        Loading friends...
      {{/unless}}
      {{#each results}}
        {{> player}}
      {{/each}}
    </ul>
  </div>
</template>