<template name="teams">
  <div class="teams">
    <header><h1>Leagues</h1></header>
    <article>
      <ul class="team_register">
        {{#each teams }}
          {{> team }}
        {{/each}}
        <li class="add_team current">
          <div class="cta">
            <div class="image">
              <figure></figure>
            </div>
            <button class="add_team btn default">Add a Team</button>
          </div>
          {{> team_builder }}
        </li>
      </ul>
    </article>
  </div>
</template>

<template name="team_builder">
  <form class="team_builder">
    <h3>Team Builder</h3>
    <input name="name" placeholder="Team name"></input>
    {{> players_required_select }}
    <button type="submit" class="btn default">Create</button>
  </form>
</template>
  
<template name="team">
  <li class="team">
    <div class="image">{{{logo}}}</div>
    <div class="dropmenu">
      <a href="{{ games_link this }}" class="btn">View Season</a>
      <a class="icon12 dropdown btn"></a>
      <ul>
        <li><a href="{{ players_link this }}" class="inset">Players</a></li>
        <li><a href="{{ players_link this }}" class="inset">Make new logo</a></li>
        <li><a class="remove_team inset">Delete Team</a></li>
      </ul>
    </div>
  </li>
</template>