<template name="teams">
  <div class="teams">
    <h1>LEAGUES</h1>
    <button class="add_team">Add a Team</button>
    
    {{> team_builder }}
    
    {{#each teams }}
      {{> team }}
    {{/each}}
  </div>
</template>

<template name="team_builder">
  <form class="team_builder">
    <h2>Team Builder</h2>
    <input name="name" placeholder="Team name"></input>
    {{> players_required_select }}
    <button type="submit">Create</button>
  </form>
</template>
  
<template name="team">
  <ul class="team">
    <li>{{ name }}</li>
    <a href="/{{ _id }}/season">Season</a>
    <a href="/{{ _id }}">Players</a>
  </ul>
</template>