.editable{
  cursor: pointer;
}
.tooltip {
  font-size: $font-size *1px;//reset
  line-height: 1.5em;//reset
  @include position(absolute, 100%, auto, auto, 0, 18em, auto);
  z-index: 5;
  overflow: visible;
  margin-top: 1em;
  margin-left: -.75em;
  @include box-sizing(border-box);
  padding:.75em;
  @include border-radius(3px);
  @include maskbg($paper);
  border: 1px solid #999;
  outline: none;
  &:before{
    content: '';
    @include css_arrow(up, #999, 1em, -2em, 1em);
  }
}