.select{
  display: block;
  overflow: visible;
  position: relative;
  select{
    @include opacity(0);
    @include position(absolute, 0, 0, 0, 0, 100%, 100%);
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    moz-appearance:none;
    z-index: 1;
  }
  >a.selected_text{
    @include position(relative, 0, auto, auto, auto, 100%, auto);
    font-weight: bold;
    .player{
      margin-left: -.5em;
      float: left;
    }
    .arrows{
      margin-right: -.5em;
      float: right;
    }
  }
}