.select{
  display: inline-block;
  position: relative;
  width: 100%;
  select{
    @include opacity(0);
    @include position(absolute, 0, 0, 0, 0, 100%, 100%);
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    moz-appearance:none;
    z-index: 1;
  }
  >a{
    width: 100%;
    font-weight: bold;
    >span:first-of-type.icon16{
      margin-left: -.5em;
      float: left;
    }
    >span:last-of-type{
      margin-right: -.75em;
      float: right;
    }
  }
}