.container.signin {
  .signin{
    >div{
      padding-bottom: .75em;
      margin-bottom: .75em;
      position: relative;
      &:after{
        content: '';
        display: block;
        @include position(absolute, auto, 0, 0px, 50%, 150px, 0px);
        margin-left: -75px;
        border-top: 1px solid rgba(darken($skyblue, 15%), 1);
        border-bottom: 1px solid rgba(lighten($skyblue, 70%), .7);        
      }
    }
  }
}
.container.not_authorized {
  .not_authorized{
    >div.error{
      width: 300px;
      padding: .75em;
      margin: .75em auto 0;
      @include border-radius(5px);
      @include border(saturate($orange, 20%));
      background: saturate($orange, 30%);
      color: #fff;
      @include letterpress(saturate($orange, 30%));
    }
  }
}