.container.games{
  .games{
    /* Positioning */
    .next_game, .upcoming_games{
      width: 80%;
      margin: 0 auto;
      position: relative;
    }
    .next_game{
      text-align: center;
      padding: 3em 0;
    }
    .upcoming_games{
      padding: 3em 0;
      .season_wrapper{
        $color: #b66726;
        background: $color;
        padding: 3em;
        @include border-radius(5px);
        @include box-sizing(border-box);
        @include border($color, 5px);
        .season{
          position: relative;
          z-index: 1;
          @include maskbg(white);
          @include box-sizing(border-box);
          @include border(white);
          @include box-shadow(rgba(black, .3) 0 2px 5px 0);
          padding: 3em;
          &:before, &:after{
            content: '';
            display: block;
            @include position(absolute, 0, auto, auto, 0, 100%, 100%);
            @include maskbg(white);
            @include border(white);
            @include box-shadow(rgba(black, .3) 0 2px 5px 0);
          }
          &:before{
            @include transform(rotate(1deg));
            z-index: -1;
          }
          &:after{
            @include transform(rotate(-1deg));
            z-index: -1;
          }
        }
      }
    }
    
    /* Styles */
    aside{
      $color:  #30c0ef;
      $height: 2.5em;
      margin: .25em 0;
      @include position(absolute, 0, auto, auto, $height *.25, auto, $height);
      padding: 0 1.5em;
      background:$color;
      color: transparent; /* hides the element without text-indent hack */
      line-height: $height;
      &:before{
        content: '';
        display: block;
        border-style:solid;
        @include position(absolute, 0, $height *-.25, auto, auto, 0, 0);
        border-color: $color transparent $color $color;
        border-width:$height *.5 $height *.25 $height *.5 0px;
        z-index: 1;
      }
      &:after{
        content: '';
        display: block;
        border-style:solid;
        @include position(absolute, 0, auto, auto, $height *-.25, 0, 0);
        border-color: $color $color $color transparent;
        border-width:$height *.5 0px $height *.5 $height *.25;
        z-index: 1;
      }
      &.next{
        background: url(/images/text_img_next_game_99x20.png) no-repeat center $color;
      }
      &.upcoming{
        background: url(/images/text_img_upcoming_86x20.png) no-repeat center $color;
      }
    }
    .next_game{
      #logo{
        display: inline-block;
      }
      .preposition{
        color: #999;
        @include emtype;
        margin-bottom: 1.5em;
      }
      .game_title{
        color: #3b404d;
        font-size: 10.5em;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        border-top: $font-size * .75px solid #3b404d;
        border-bottom: $font-size * .75px solid #3b404d;
      }
      .game_date{
        @include h1(yes);
        margin-top: $line * 1px;
        strong{
          color: saturate(darken($orange, 10%), 30%);
        }
      }  
    }
    .upcoming_games{
      text-align: center;
      h2{
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
        @include huge(yes);
      }
      .edit{
        border: 1px solid #eee;
        @include position(absolute, 0, 0, auto, auto);
      }
    }
  }
}