.container.games{
  .games{
    /* Positioning */
    .next_game, .upcoming_games{
      width: 80%;
      margin: 0 auto;
      position: relative;
    }
    .next_game{
      text-align: center;
      padding: 3em 0;
    }
    .upcoming_games{
    }
    
    /* Styles */
    aside{
      $color:  #30c0ef;
      $height: 2.5em;
      margin: .25em 0;
      @include position(absolute, auto, auto, auto, $height *.25, auto, $height);
      padding: 0 1.5em;
      background:$color;
      color: transparent; /* hides the element without text-indent hack */
      line-height: $height;
      &:before{
        content: '';
        display: block;
        border-style:solid;
        @include position(absolute, 0, $height *-.25, auto, auto, 0, 0);
        border-color: $color transparent $color $color;
        border-width:$height *.5 $height *.25 $height *.5 0px;
        z-index: 1;
      }
      &:after{
        content: '';
        display: block;
        border-style:solid;
        @include position(absolute, 0, auto, auto, $height *-.25, 0, 0);
        border-color: $color $color $color transparent;
        border-width:$height *.5 0px $height *.5 $height *.25;
        z-index: 1;
      }
      &.next{
        background: url(/images/text_img_next_game_99x20.png) no-repeat center $color;
      }
      &.upcoming{
        background: url(/images/text_img_upcoming_86x20.png) no-repeat center $color;
      }
    }
    .next_game{
      text-align: center;
      width: 80%;
      margin: 0 auto; 
      padding: 3em 0;
      position: relative;
      #logo{
        display: inline-block;
      }
      .preposition{
        color: #999;
        @include emtype;
        margin-bottom: 1.5em;
      }
      .game_title{
        color: #3b404d;
        font-size: 10.5em;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        border-top: $font-size * .75px solid #3b404d;
        border-bottom: $font-size * .75px solid #3b404d;
      }
      .game_date{
        @include h1(yes);
        strong{
          color: saturate($orange, 50%);
        }
      }  
    }
    
  }
}