.container.home {
  @include position(relative, auto, auto, auto, auto, 100%, 100%);
  .home{
    text-align: center;
    overflow-x: hidden;
    @include position(relative, auto, auto, auto, auto); 
    padding-top: 6em;
    @include box-sizing(border-box);
    /* /// */
    /* Home title position */
    /* /// */
    .title{
      position: relative;
      overflow: visible;
      z-index: 3;
      /* height of pseudoclasses */
      $title_height: $font-size * 5 * 1px;
      &:after{
        content: '';
        display: block;
        z-index: -3;
        @include position(absolute, auto, auto, 0, (150% - 100%) * -.5, 150%, $title_height );
        @include background(
          radial-gradient(50% -50%, rgba(white, .7), rgba(white, .5) 40%, rgba(white, 0) 70%)  
        );
      }
      >span{
        position: relative;
        overflow: visible;
        display: inline-block;
        /* for kerning */
        visibility: hidden;
        -letter-kern: 2px 6px -10px -4px -10px 0;
        &:after{
          content: '';
          display: block;
          @include position(absolute, auto, auto, 0, (150% - 100%) * -.5, 150%, $title_height );
          z-index: -1;
          @include background(
            radial-gradient(50% 50%, rgba(black, .15), rgba(black, .05) 50%, rgba(black, 0) 70%),
            radial-gradient(50% 50%, rgba(white, .5), rgba(white, .2) 60%, rgba(white, 0) 80%)
          );
        }
        &:before{
          content: '';
          display: block;
          @include position(absolute, auto, auto, $font-size * 5px, (200% - 100%) * -.5, 200%, 1px );
          z-index: -1;
          @include background(
            radial-gradient(50% 50%, rgba(white, 1), rgba(white, .8) 50%, rgba(white, 0) 70%)
          );
        }  
      }
    }
    /* /// */
    /* Home title styling */
    /* /// */
    .title{
      color: darken($orange, 5%);
      @include emtype;
      font-size: 15em;
      font-weight: bold;
      text-transform: uppercase;
      @include text-shadow(
        rgba(lighten($orange, 20%), 1) 0 -1px 0,
        rgba(black, .3) 0 1px 0,
        rgba(lighten(saturate($orange, 30%), 10%), 1) 0 -7px 0,
        rgba(lighten($orange, 50%), .7) 0 -10px 20px,
        rgba(darken($orange, 50%), .3) 0 2px 5px
      );
    }
    .tag{
      @include huge(yes);
      font-style: italic;
      font-weight: bolder;
      color: darken(#66ccff, 10%);
      @include text-shadow(
        rgba(white, 1) 0 -1px 0,
        rgba(darken(#66ccff, 50%), .3) 0 1px 0
      );
    }
    .login{
      font-weight: bold;
      text-transform: uppercase;
      @include position(absolute, 1.5em, 1.5em, auto, auto);      
    }
    form.team_builder{
      text-align: center;
      margin-bottom: 6em;
      >*{
        display: inline-block;
        margin: auto 10px;
        font-size: 30px;
        float: none;
      }
      select{
        width: 120px;
      }
      input{
        width: 300px;
      }
      button{
        font-weight: bold;
      }
    }
  }
}