.home_page,
.signin_page,
.not_authorized_page,
.loading_page,
.not_found_page{
  @include position(absolute, auto, auto, auto, auto, 100%, 100%);
  padding-top: 6em;
  @include box-sizing(border-box);
  overflow: hidden;
  @include skybg;
  text-align: center;
  .logotype{
    @include h1(no);
    @include emtype;
    font-weight: bolder;
    letter-spacing: -.05em;
    display: inline-block;
    text-transform: uppercase;
    color: darken($orange, 5%);
    @include text-shadow(
      rgba(white, 1) 0 -1px 0,
      rgba(black, .3) 0 1px 0,
      rgba(darken($orange, 30%), .1) 0 0 10px
    );
  @include letter-kern(3px 3px 0px 0px 0px 0);
  }
  .tagline{
    @include h4;
    color: darken(#66ccff, 10%);
    @include letterpress(#66ccff);
    font-weight: bold;
    font-style: italic;
    clear: both;
    padding-bottom: .75em;
    margin-bottom: .75em;
    position: relative;
    &:after{
      content: '';
      display: block;
      @include position(absolute, auto, 0, 0px, 50%, 150px, 0px);
      margin-left: -75px;
      border-top: 1px solid rgba(darken($skyblue, 15%), 1);
      border-bottom: 1px solid rgba(lighten($skyblue, 70%), .7);        
    }
  }
  .error{
    width: 200px;
    padding: 1.5em;
    margin: .75em auto 1.5em;
    @include box-sizing(border-box);
    font-weight: bold;
    @include border-radius(5px);
    background: saturate($orange, 30%);
    color: #fff;
    @include letterpress(invert(white));
  }
  .loading{
    font-size: 12em;
    line-height: 1em;
    font-weight: bold;
    color: rgba(darken($skyblue, 7%), 1);
    @include letterpress($skyblue);
  }
  .team_dialog{
    margin: 3em auto;
    text-align: left;
    @extend .dialog_box;
    h2{margin-bottom: 0;}
  }
}
.signin_page.email_ticket{/* exceptions */
  /* shift layout up */
  padding-top: 3em;
  /* unwrapped button */
  >button.login{display: none;}
  /* remove hr separating login button */
  .tagline{
    padding-bottom: 0;
    margin-bottom: 0;
    &:after{display: none;}
  }
}
