.container.players {
  .players {
  	#lineup {
 	    @include position(relative, 1.5em, auto, auto, auto, 80%);
 	    margin: 0 auto;
 	    min-width: 960px;
  	  @include box-sizing(border-box);
  	  @include maskbg(#fff);
  	  @include border-radius(5px);
  	  border: 1px solid #fff;
  	  @include box-shadow(rgba(0,0,0, .2) 0 0px 1px 1px inset);
  	  @include clearfix;
  	  clear: both;
  	}
    #lineup{
      .proceed{
        float: right;
        margin-top: .75em;
        margin-right: 1.5em;
      }
      .team_logo{
        @include maskbg($paper);
        @include border-radius(3px);
        @include box-shadow(
          rgba(black, .3) 0 1px 3px 0,
          rgba(darken($skyblue, 5%), 1) 0 0px 0px 3px inset
        );
        @include position(absolute, -1.5em, auto, auto, 1.5em);
      }
      h2{
        @include big;
        @include emtype;
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        position: relative;
        margin-left: $font-size * 16px;
        padding: $font-size  * 1px 0 0;
      }
      .required_players{
        margin-left: $font-size * 16px;
        margin-bottom: $font-size * 1px;
        .select{
          font-size: $small * 1px;
          display: inline-block;
          width: 140px;
          margin-right: .75em;
        }
      }
      .roster_wrapper{
        @include background(
          linear-gradient(left, rgba(#ebebf1, .6), rgba(#ebebf1, .8) 50%, rgba(#ebebf1, .6) 100%),
          transparent
        );
        clear: both;
        padding-top: .75em;
        margin-bottom: 3em;
        .roster{          
          margin-left:16em;
          small > .remove_player{display: block;}
        }
        .add_cta{
          display: inline-block;
          width: 165px;
          height: 72px;
          margin-left: 1.5em;
          text-indent: -999em;
          overflow: hidden;
          vertical-align: middle;
          background: url('/images/text_img_playalone_165x40.png') no-repeat center;
          @include opacity(.4);
        }
      } 
    }
    #add_player{
      .search_wrapper{
        margin: 0 1.5em 1.5em;
        width: 200px;
        position: relative;
        float: left;
        input{
          @include box-sizing(border-box);
          padding-left: 1.5em + .25em;
          width: 200px;
          text-align: left;
        }
        span.search{
          @include position(absolute, .5em, auto, auto, .5em, 16px, 16px);
          z-index: 2;
        }
      }
      h3{
        display: inline-block;
        color: #666;
        float: left;
        margin-top: $font-size * .75px;
      }
      .player_list{
        clear: both;
        padding: 1.5em 0;
        border-top: 1px dotted #eee;
      }
    }
    
  }/* end players */
}