.container.players {
  .players {
    /* fixme */
    .scrolling_wrapper{
      overflow: hidden;
      @include position(absolute, 0px, 0, 0, 65%);
      @include box-shadow(rgba(0, 0, 0, .3) 0px 2px 4px 0px);
      background: #fff;
      &:after{
        content: '';
        @include position(absolute, -50%, 80%, 0, 0, auto, 200%);
        @include background(
          radial-gradient( -20% center, rgba(0,0,0,.1), rgba(255,255,255,0) 70%)
        );
      }
    }

  	#sidebar {
  		@include position(relative, auto, auto, auto, auto, 30%);
  		min-width: 200px;
  		float: left;
  	  @include box-sizing(border-box);
  	  border-right: 1px solid #ccc;
  	  @include maskbg(#eee);
  	  @include box-shadow(rgba(black, .3) 0 2px 5px 0 inset);
  	  margin-top: -3em;
  	  padding: 0 1.5em;
  	}
  	#scrolling {
	    @include position(relative, auto, auto, auto, auto, 50%);
	    z-index: 0;
	    float: left;
	    @include box-sizing(border-box);
	    padding-left:3em;
  	}

    #sidebar{
      text-align: center;
      .team_logo{
        display: inline-block;
      }
      .player_list{
        li.player{
          small{display: block;}
        }
      }
    }/* end lineup */
    #scrolling{
      text-align: center;
      > *{
        z-index: 3;
        position: relative;
      }
      .search{
        padding: 1.5em 0 1.5em;
        text-align: left;
        input{
          @include h3;
          @include box-sizing(border-box);
          padding-left: 1.5em + .25em;
          text-align: left;
        }
        &:before{
          margin-right: -1.5em - .25em;
          margin-bottom: -.25em;
          z-index: 2;
        }
      }
    }
  }/* end players */
}