.team_register{
  text-align: center;
  margin: 0 10% 3em;
  > li{
    display: inline-block;
    position: relative;
    margin: 0 3em 3em;
    vertical-align: top;
    .image{
      width: $large_logo_dimension;
      height: $large_logo_dimension;
    }
    .status_alert{
      display: block;
      @include small;
      font-style: italic;
      a{@include seclink;}
    }
  }
  li.add_team{
    width: $large_logo_dimension;
    min-height: $large_logo_dimension;
    form.team_builder{
      @include maskbg(#eee);
      padding:1.5em;
      @include border-radius(3px);
      @include box-shadow(rgba(black, .2) 0 1px 3px 0 inset);
      @include box-sizing(border-box);
      h3{
        margin: $line * -1px $line * -1px $line * 1px;
        height: $font-size *3px;
        line-height: $font-size *3px;
        font-weight: bold;
        text-align: center;
        color: white;
        @include letterpress(invert(white));
        @include border(rgba(saturate($orange, 30%), 1));
        @include border-radius(3px 3px 0 0);
        @include box-shadow(
          rgba(lighten($orange, 30%), .3) 0 -1px 0 0 inset,
          rgba(black, .2) 0 1px 3px 0 
        );
        @include background(linear-gradient(top, rgba(saturate($orange, 30%), 1), darken($orange, 10%) 100%));
      }
      input{width: 100%;}
      button[type='submit']{width: 100%;}
    }
    .cta{
      .image{@include plus_alert;}
      button{
        font-size: $small * 1px;
        margin: 0;
      }
    }
  }//add
}