.container.teams{
  .teams {
    .team_register{
      text-align: center;
      margin: 0 10%;
      > li{
        display: inline-block;
        position: relative;
        margin: 40px;
        overflow: visible;
        vertical-align: top;
        .image{
          width: 200px;
          height: 200px;
        }
      }
      li.add_team{
        width: 200px;
        min-height: 200px;
        form.team_builder{
          @include maskbg(#ccc);
          padding:1.5em;
          display: none;
          @include border-radius(3px);
          @include box-shadow(rgba(black, .3) 0 2px 5px 0 inset);
          @include box-sizing(border-box);
          h3{
            margin: $line * -1px $line * -1px $line * 1px;
            height: $font-size *3px;
            line-height: $font-size *3px;
            font-weight: bold;
            text-align: center;
            @include letterpress(rgba(saturate($orange, 30%), 1));
            @include border(rgba(saturate($orange, 30%), 1));
            @include border-radius(3px 3px 0 0);
            @include box-shadow(
              rgba(lighten($orange, 30%), .3) 0 -1px 0 0 inset,
              rgba(black, .3) 0 2px 5px 0 
            );
            @include background(linear-gradient(top, rgba(saturate($orange, 30%), 1), darken($orange, 10%) 100%));
          }
          label{
            overflow: hidden;
            text-indent: -999em;
            display: inline-block;
            float: none;
            @include position(absolute, auto, auto, auto, auto, 0, 0);
          }
          input{
            width: 100%;
          }
          button[type='submit']{width: 100%;}
        }
        &.current{
          form.team_builder{display: block;}
          .cta{display: none;}
        }
        .cta{
          .image{
            @include plus_alert;
          }
          /* fixme: refactor me */
          button{@include small;line-height: 1em;margin: 0;}
        }
      }
    }
  }
}

a#logo{
  display: block;
  overflow: visible;
  position: relative;
  height: 100%;
  width: 100%;
  h3{
    font-size: 26px;
    /*position*/
    position: absolute;
    @include position(absolute, 50%, 3px, auto, 3px, auto, 1em);
    margin: -.75em 0;
    padding: .25em 0;
    z-index: 3;
    overflow: hidden;
    /*text*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    white-space: nowrap;
    line-height: 1em;
    /*misc*/
    @include maskbg;
    span {
      display: block;
    }
  }
  h4{
    //for long titles
    font-size: 16px;
    /*position*/
    position: absolute;
    @include position(absolute, auto, auto, 0, auto, 100%, 1em);
    padding: .25em 0;
    z-index: 3;
    /*text*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    color: #FF5C2B;
    white-space: nowrap;
    /*misc*/
    @include maskbg;
  }
  .shield{@include prepare_shield(200px, 200px);}
  .flatdiamond{@include prepare_flatdiamond(200px, 200px);}
  .diamond{@include prepare_diamond(200px, 200px);}
  .darrow{@include prepare_darrow(200px, 200px);}
  .uarrow{@include prepare_uarrow(200px, 200px);}
  .circle{@include prepare_circle(200px, 200px);}
  .flatcircle{@include prepare_flatcircle(200px, 200px);}
  .national{@include prepare_national(200px, 200px);}
  .bolt{@include prepare_bolt(200px, 200px);}
  .crown{@include prepare_crown(200px, 200px);}
}
a#logo{
  width: 200px;
  height: 200px;
  &.enable_alert{
    &:before{
      content: attr(data-alert);
      display: block;
      @include h4;
      font-weight: bold;
      color: white;
      border: 2px solid white;
      padding: .25em .5em;
      white-space: nowrap;
      @include position(absolute, 0, 0, auto, auto);
      @include background-image(linear-gradient(top, lighten(red, 10%), darken(red, 10%) 70%)); 
      @include border-radius(1em);
      @include box-shadow(rgba(0,0,0,.3) 0 2px 5px 0);
      z-index: 3;
    }    
  }
  &.small{
    width: 100px;
    height: 100px;
    .shield{@include prepare_shield(100px, 100px, 5px);}
    .flatdiamond{@include prepare_flatdiamond(100px, 100px, 5px);}
    .diamond{@include prepare_diamond(100px, 100px, 5px);}
    .darrow{@include prepare_darrow(100px, 100px, 5px);}
    .uarrow{@include prepare_uarrow(100px, 100px, 5px);}
    .circle{@include prepare_circle(100px, 100px, 5px);}
    .flatcircle{@include prepare_flatcircle(100px, 100px, 5px);}
    .national{@include prepare_national(100px, 100px, 5px);}
    .bolt{@include prepare_bolt(100px, 100px, 5px);}
    .crown{@include prepare_crown(100px, 100px, 5px);}
  }
}