@mixin shield($width: 100px, $height: 100px, $color:red){
  position: relative;
  width: $width;
  height: $height;
  /*real dimensions*/
  $shielddeg: 10px;
  $rwidth: $width - 2*10px;
  $rheight: $height - $height/5;
  color: $color;
  background: transparent !important;
  &:before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    @include border-colors(default, transparent, transparent, transparent);
    border-width: $rheight $shielddeg 0;
    width: $rwidth;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: $rheight;
    z-index: 1;
    border-style: solid;
    @include border-colors(default, transparent, transparent, transparent);
    border-width: $rheight/5 $rwidth/2 0;
    margin-left: $shielddeg;
    width: 0;
  }
}//
@mixin prepare_shield($containerwidth: 200px, $containerheight: 200px){
  $outerwidth:$containerwidth * .6;
  $outerheight:$containerheight * .5;
  margin-top: ($containerheight - $outerheight) *.5;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include shield($outerwidth, $outerheight, #2E66B2);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include shield($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    top: 10px;
  }
}

@mixin diamond($width: 100px, $height:100px, $color:red){
  @include position(relative, auto, auto, auto, auto, $width, $height);
  background: transparent !important;
  &:before{
    content:'';
    @include position(absolute, auto, auto, auto, 0, 0, 0);
    border-style: solid;
    @include border-colors(transparent, transparent, default, transparent);
    border-width: 0 $width/2 $height/2 $width/2;
    z-index: 1;
  }
  &:after{
    content:'';
    @include position(absolute, $height/2, auto, auto, 0, 0, 0);
    border-style: solid;
    @include border-colors(default, transparent, transparent, transparent);
    border-width: $height/2 $width/2 0 $width/2;
    z-index: 1;
  }
}
@mixin prepare_flatdiamond($containerwidth: 200px, $containerheight: 200px){
  $outerwidth:$containerwidth * .8;
  $outerheight:$containerheight * .6;
  margin-top: ($containerheight - $outerheight) *.5;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include diamond($outerwidth, $outerheight, #2E66B2);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include diamond($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    top: 10px;
  }
}
@mixin prepare_diamond($containerwidth: 200px, $containerheight: 200px){
  $outerwidth:$containerwidth * .6;
  $outerheight:$containerheight * .8;
  margin-top: ($containerheight - $outerheight) *.5;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include diamond($outerwidth, $outerheight, #2E66B2);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include diamond($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    top: 10px;
  }
}
@mixin darrow($width: 100px, $height:100px, $color:red){
  position: relative;
  @include position(relative, auto, auto, auto, auto, $width, $height);
  background: transparent !important;
  &:before{
    content:'';
    @include position(absolute, auto, auto, auto, auto);
    display: block;
    width: 0; 
    height: 0; 
    border-style: solid;
    @include border-colors(default, transparent, transparent, transparent);
    border-width: $height  $width/2 0 $width/2;
  }
}
@mixin prepare_darrow($containerwidth: 200px, $containerheight: 200px){
  $cossixty:.86;/*math doesnt seem to work with scout*/
  $scale: .7; /*change this to affect total size*/
  $outerwidth:$containerwidth * $scale;
  $outerheight:$containerheight * $scale * $cossixty; /*makes equilateral tri*/
  margin-top: ($containerheight - $outerheight) * .6;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include darrow($outerwidth, $outerheight, #2E66B2);
  span{
    $tanthirty: .57;
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include darrow($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    top: 10px * $tanthirty;
  }
}
@mixin uarrow($width: 100px, $height:100px, $color:red){
  @include position(absolute, 50%, auto, auto, auto, $width, $height);
  background: transparent !important;
  &:before{
    content:'';
    @include position(absolute, auto, auto, auto, auto);
    display: block;
    width: 0; 
    height: 0; 
    border-style: solid;
    @include border-colors(transparent, transparent, default, transparent);
    border-width: 0  $width/2 $height $width/2;
  }
}
@mixin prepare_uarrow($containerwidth: 200px, $containerheight: 200px){
  $cossixty:.86;/*math doesnt seem to work with scout*/
  $scale: .7; /*change this to affect total size*/
  $outerwidth:$containerwidth * $scale;
  $outerheight:$containerheight * $scale * $cossixty; /*makes equilateral tri*/
  margin-top: ($containerheight - $outerheight) * -.8;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include uarrow($outerwidth, $outerheight, #2E66B2);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include uarrow($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    margin-top: $innerheight * -.5;
  } 
}
@mixin circle($width: 100px, $height:100px, $color:red, $radius: $width/2){
  @include position(absolute, 50%, auto, auto, auto, $width, $height);
  background: $color;
  @include border-radius($radius);
}
@mixin prepare_circle($containerwidth: 200px, $containerheight: 200px){
  $scale: .7; /*change this to affect total size*/
  $outerwidth:$containerwidth * $scale;
  $outerheight:$containerheight * $scale;
  margin-top: $outerheight * -.5;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include circle($outerwidth, $outerheight, #2E66B2);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include circle($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    margin-top: $innerheight *-.5;
  }
}
@mixin prepare_flatcircle($containerwidth: 200px, $containerheight: 200px){
  $outerwidth:$containerwidth * .8;
  $outerheight:$containerheight * .5;
  margin-top: $outerheight * -.5;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include circle($outerwidth, $outerheight, #2E66B2, 50%);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include circle($innerwidth, $innerheight, #FF5C2B, 50%);
    z-index: 2;
    left: 10px;
    margin-top: $innerheight *-.5;
  }
}

@mixin national($width: 100px, $height:100px, $color:red){
  @include position(absolute, 50%, auto, auto, auto, $width, $height);
  &:before, &:after{
    content:'';
    @include transform(skew(-30deg));
  }
  &:before{
    @include position(absolute, auto, auto, auto, 0, 45%, 100%);
    @include border-radius(5px 0 0 5px);
    background: $color;
  }
  &:after{
    @include position(absolute, auto, 0, auto, auto, 45%, 100%);
    @include border-radius( 0 5px 5px 0);
    background: $color;
  }
}
@mixin prepare_national($containerwidth: 200px, $containerheight: 200px){
  $outerwidth:$containerwidth * .5;
  $outerheight:$containerheight * .5;
  margin-top: $outerheight * -.5;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include national($outerwidth, $outerheight, #2E66B2);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px*2;
    $innerheight: $outerheight - 10px*2;
    @include national($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    margin-top: $innerheight *-.5;
  }
}
@mixin bolt($width: 100px, $height:100px, $color:red){
  @include position(absolute, 50%, auto, auto, auto, $width, $height);
  &:before{
    content:'';
    background: $color;
    @include position(absolute, auto, auto, auto, 50%/2, 50%, 40%);
    @include transform(skew(-30deg));
  }
  &:after{
    content:'';
    @include position(absolute, 40%, auto, auto, 50%/2, 0, 0);
    @include transform(skew(-20deg));
    border-top: $height* .6 solid $color; 
    border-right: $width/2 solid transparent;
  }
}
@mixin prepare_bolt($containerwidth: 200px, $containerheight: 200px){
  $outerwidth:$containerwidth * .7;
  $outerheight:$containerheight * .7;
  margin-top: $outerheight * -.5;
  margin-left: ($containerwidth - $outerwidth) *.5;
  @include bolt($outerwidth, $outerheight, #2E66B2);
  span{
    display: block;
    $innerwidth: $outerwidth - 10px;
    $innerheight: $outerheight - 10px;
    @include bolt($innerwidth, $innerheight, #FF5C2B);
    z-index: 2;
    left: 10px;
    margin-top: $innerheight *-.5;
  }
}