textarea{
  @include stdform;
  overflow: auto;
  display: block;
  text-align: left;
    &.new{color: #AA5959;}
}
input{
  &:not([type=checkbox]):not([type=radio]){
    @include stdform;
    line-height: 1em;
  }
}
label{
  color: #333;
  font-weight: bold;
  display: inline-block;
}
form{
  text-align: left;
  @include clearfix;
  label {
    float: left;
    &.hide{
      overflow: hidden;
      text-indent: -999em;
      display: inline-block;
      height: 0;
    }
  }
  /* Exceptions */
  input[type=checkbox] + label, input[type=radio] + label {
    display: inline;
    line-height: 1em;
    color: #333;
    font-weight: normal;
  }
  textarea, input{
    text-align: left;
    float: left;
  }
  input{      
    &[type=checkbox], &[type=radio]{
      width: auto;
      margin-right: 10px;
      line-height: 1.5em;
    }
    &[type=radio]{-webkit-appearance: radio;}
  }
  p{
    margin-bottom: 10px;
  }
  button{
    float: left;
  }
  &.disabled {
    > * {
      opacity: .5;
    }
    button{
      opacity: 1;
    }
  }    
}

/* Choosers */
.date_chooser, .time_selects{
  .close{
    float: right;
  }
}
/* Date chooser */
.date_chooser{
  .ui-datepicker-header{
    text-align: center;
    margin: $font-size * -.75px $font-size * -.75px $font-size * .75px;
    padding: .5em 0;
    color: white;
    @include letterpress(invert(white));
    @include border(rgba(saturate($orange, 30%), 1));
    @include border-radius(3px 3px 0 0);
    @include box-shadow(
      rgba(lighten($orange, 30%), .3) 0 -1px 0 0 inset,
      rgba(black, .2) 0 1px 3px 0 
    );
    @include background(linear-gradient(top, rgba(saturate($orange, 30%), 1), darken($orange, 10%) 100%));
    .ui-datepicker-title{
      display: inline-block;
      font-weight: bold;
    }
    .ui-datepicker-prev, .ui-datepicker-next{
      overflow: hidden;
      @include inset;
      span{
        text-indent: -999em;
        display: inline-block;
      }
    }
    .ui-datepicker-prev{
      @include position(absolute, auto, auto, auto, .75em);
      &:before{content: '\25C4'}
    }
    .ui-datepicker-next{
      @include position(absolute, auto, .75em, auto, auto);
      &:before{content: '\25BA'}
    }
  }
  table.ui-datepicker-calendar{
    display: inline-block;
    margin: 0 auto .75em;
    thead tr th{font-weight: bold;}
    th,td{
      display: inline-block;
      text-align: center;
      width: 2em;
      color: #333;
    }
    .ui-state-disabled {
      color: #999;
    }
    .ui-state-active {
      display: inline-block;
      width: 100%;
      height: 100%;
      @include border-radius(.5em);
      @include box-shadow(rgba(darken($orange, 10%), .9) 0 0 0 2px);
    }
  }
}
/* Time chooser */
.time_selects{
  padding: .75em 0;
  >* {
    width: 32%;
    float: left;
    margin-right: .25em;
  }
  label{
    @include global_btn;
  }
}